# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# TypeScript output
dist/
build/

# Environment variables
.env

# Logs
logs/
*.log
pids/
*.pid

# IDE-specific files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Coverage reports
coverage/

# Miscellaneous
*.tgz
*.gz
*.zip

# Temporary files
tmp/
temp/


# Uploads
Uploads